<form [formGroup]="colorForm">

  <div>
    {{colorForm.controls.name.errors | json}}
    <label for="name-input">Name:</label>
    <input type="text" id="name-input" formControlName="name">
    <span *ngIf="colorForm.controls.name.errors?.myRequired">
      {{colorForm.controls.name.errors?.myRequired.message}}</span>
    <span *ngIf="colorForm.controls.name.errors?.minlength">minlength</span>
  </div>

  <div>
    <label for="hexcode-input">HexCode:</label>
    <input type="text" id="hexcode-input" formControlName="hexCode">
    <span *ngIf="colorForm.controls.hexCode.errors?.myRequired">
      {{colorForm.controls.hexCode.errors?.myRequired.message}}</span>
  </div>

  <div>
    <label>Color Info</label>
    <color-info-control formControlName="colorInfo"></color-info-control>
  </div>

  <button type="button" (click)="submitColor()">Submit Color</button>

  {{colorForm.value | json}}

</form>
