<form [formGroup]="carForm">
  {{carForm.errors | json}}
  <div>
    <label htmlFor="make-input">Make</label>
    <select formControlName="make" required>
      <option value="">Select One...</option>
      <option *ngFor="let makeModels of carCatalog.makeModels" [value]="makeModels.name">{{makeModels.name}}</option>
    </select>
  </div>
  <div>
    <label htmlFor="model-input">Model</label>
    <input type="text" id="model-input" formControlName="model">
    <div *ngIf="carForm.controls.model.errors">invalid</div>
    {{carForm.controls.model.errors | json}}
  </div>
  <div>
    <label htmlFor="year-input">Year</label>
    <input type="number" id="year-input" formControlName="year">
    <span>invalid</span>
  </div>
  <div>
    <label htmlFor="color-input">Color</label>
    <input type="color" id="color-input" formControlName="color">
  </div>
  <div>
    <label htmlFor="price-input">price</label>
    <input type="number" id="price-input" formControlName="price">
    <span>invalid</span>
  </div>
  <button type="text" (click)="doSubmit()" [disabled]="carForm.invalid">{{buttonText}}</button>
</form>
