<div>
  <label for="new-color-input">New Color:</label>
  <input type="text" id="new-color-input"
    name="newColorInput" [formControl]="newColorInput">
</div>
<button type="button" (click)="addNewColor()">Add Color</button>
