<table>
  <thead>
    <tr>
      <th>Id</th>
      <th (click)="doSort('make')"><label for="edit-make-input">Make</label></th>
      <th (click)="doSort('model')"><label for="edit-model-input">Model</label></th>
      <th (click)="doSort('year')"><label for="edit-year-input">Year</label></th>
      <th (click)="doSort('color')"><label for="edit-color-input">Color</label></th>
      <th (click)="doSort('price')"><label for="edit-price-input">Price</label></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of sortedCars">
        <tr class="edit-car-row" [car]="car" *ngIf="editCarId === car.id"
          (saveCar)="saveCar.emit($event)" (cancelCar)="cancelCar.emit($event)"></tr>
        <tr class="view-car-row" [car]="car" *ngIf="editCarId !== car.id"
          (editCar)="editCar.emit($event)" (deleteCar)="deleteCar.emit($event)"></tr>
    </ng-container>
  </tbody>
</table>
