<ng-container [formGroup]="editCarForm">
  <td>{{car.id}}</td>
  <td><input type="text" id="edit-make-input" formControlName="make"></td>
  <td><input type="text" id="edit-model-input" formControlName="model"></td>
  <td><input type="number" id="edit-year-input" formControlName="year"></td>
  <td><input type="text" id="edit-color-input" formControlName="color"></td>
  <td><input type="number" id="edit-price-input" formControlName="price"></td>
  <td>
    <button type="button" (click)="doSave()">Save</button>
    <button type="button" (click)="doCancel()">Cancel</button>
  </td>
</ng-container>
